$desktop-xl: 1600px;
$desktop-l: 1350px;
$tablet: 1024px;
$mobile: 768px;
$mobile-s: 480px;

// colors
$white: #fff;
$black: #000;
$blackLight: #292D32;
$gray: #B5B7C0;
$grayLight: #757575;
$grayDark: #9197B3;
$violet : #5932EA;
$green: #16C098;
$greenText: #008767;
$greenLight: #00B087;
$red: #DF0404;
$redLight: #FFC5C5;
$colorBorder: #EEEEEE;

$font: "Poppins", Arial, sans-serif;